<Game configVersion="1">
    <Identity Name="GlitchTag"
              Publisher="CN=Krontix"
              Version="1.0.0.0" />
    <ExecutableList>
        <Executable Name="GlitchTag.exe" />
    </ExecutableList>
    <TitleId>54E5016F</TitleId>
    <MSAAppId>000000004C123456</MSAAppId>
    <SCID>00000000-0000-0000-0000-000000000000</SCID>
    <ShellVisuals DefaultDisplayName="Glitch Tag"
                  PublisherDisplayName="Krontix"
                  Square44x44Logo="Assets/Logo/Logo44.png"
                  Square150x150Logo="Assets/Logo/Logo150.png"
                  Description="An addictive online 11+ glitch-battle."
                  ForegroundText="light"
                  BackgroundColor="#000000"
                  SplashScreenImage="Assets/Logo/Logo.png" />
</Game>
