<Game configVersion="1">
    <Identity Name="Glitch Tag"
              Publisher="CN=Krontix"
              Version="v2026.1Beta" />
    <ExecutableList>
        <Executable Name="GlitchTag.exe" />
    </ExecutableList>
    <TitleId>54E5016F</TitleId>
    <MSAAppId>000000004C123456</MSAAppId>
    <SCID>your-guid-goes-here</SCID>
</Game>
